avanza_username = "xxxx"
avanza_password = "xxxx"
avanza_totpSecret = "xxxx"
NORDIGEN_SECRET_ID = "xxxx"
NORDIGEN_SECRET_KEY = "xxxx"
NORDIGEN_ACCOUNTS = ["xxxx","yyyy"]
amex_username=""
amex_password=""
amex_account_key=""
amex_chrome_version=146